For loop

In [2]:
x = "PYTHON"
for i in x:
  print(i)

P
Y
T
H
O
N

In [13]:
story = "Once"
for char in story:
  print(char,)

O
n
c
e

In [7]:
names = ['Alice', 'Charlie', 'Bob', 'Charlie', 'David', 'Eve', 'frank']
for name in names:
  print(name, len(name))

Alice 5
Charlie 7
Bob 3
Charlie 7
David 5
Eve 3
frank 5

In [14]:
fruits = ['apple', 'banana', 'lemon']
for item in fruits:
  print(f'i have {item}')

i have apple
i have banana
i have lemon

In [18]:
for i in range(10):
  print(' you got point', i)

 you got point 0
 you got point 1
 you got point 2
 you got point 3
 you got point 4
 you got point 5
 you got point 6
 you got point 7
 you got point 8
 you got point 9

In [19]:
for num in range(1,10,3):
  print('level',num)

level 1
level 4
level 7

In [22]:
for num in range(2,11):
  print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [23]:
#reverse loop

for num in range(10,5,-1):
  print(num)

10
9
8
7
6

In [25]:
#pattern loop

for i in range(10):
  print(i * 'Aman')

Aman
AmanAman
AmanAmanAman
AmanAmanAmanAman
AmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAmanAmanAman

#WAP to calculate the total of all numbers from 1 to 50

In [33]:
total = 0
for i in range(1,51):
  total += i
print(total)

1275

#wap to addd all numbers that are divisible by 3 ranging from 1  to 100

In [24]:
total = 0
for i in range(1,100):
    if i % 3 == 0:
        total += i
print(total)

1683

In [37]:
total = 0
for i in range(3,100,3):
  total += i
print(total)

3366

#Wap to calculate the average(mean) of all numbers from 1 to 100

In [40]:
total = 0
for i in range(1,100):
  total += i
mean = total / 99
print(mean)

50.0

#While loop

In [28]:
x = 0
while x < 5:
  print('run')
  x += 1
print ('stop')

run
run
run
run
run
stop

In [1]:
n = 10
sum = 0
i = 1
while i <= n:
  sum = sum + i
  i = i+1
print("The sum is ", sum)

The sum is  55

break

In [30]:
data = [1,2,3,4,5,6,-1,7,8,9,10]


for val in  data:
  if val < 0:
    break
  print(val,end=' ')

1 2 3 4 5 6

In [36]:
for i in range(1, 100):
  print(i)
  if i % 5 == 0:
    break

1
2
3
4
5

In [41]:
for i in range(1, 100):
  print(i)
  if i % 8 == 0:
    break

1
2
3
4
5
6
7
8

In [10]:
size = 100
start = 1

while start <= size:
  name = input("Enter a name of product")
  if name == "end":
    break
  print(f"you entered {name}")
  start += 2
print ("the end")

you entered mouse
you entered bag
you entered Mobile
you entered laptop
you entered charger
you entered
you entered
you entered      end
the end

Continue

In [12]:
names=['Alice','bob','','Charlie','David','','','Eve','Frank']
print(len(names))

9

In [13]:
story = ""
while True:
  line = input("Enter a line")
  if line == "end":
    break
  else:
    story += line + "\n"
print("you have wrritten")
print(story)

you have wrritten
Once upon a time
There was a person
Who lived near the river
The river was not clean
So he drank the water only after filtering it

In [14]:
print(story)

Once upon a time
There was a person
Who lived near the river
The river was not clean
So he drank the water only after filtering it

In [15]:
fruits = ['apple', 'banana', 'mango']
for fruit in fruits:
  print('we have', fruit)
else:
  print('thats all')

we have apple
we have banana
we have mango
thats all

In [18]:
number = int(input('enter a number'))
for i in range(2,number):
  if number % i == 0:
    print(f'{number} is not a prime number')
    break
else:
  prrint(f'{number} is a prime number')

4 is not a prime number

8# WAp to add all numbers of the digit using while loop
ex: 1234 become 10
ex: 5678 becomes 26

## To print all alphabets

In [1]:
from string import ascii_lowercase

In [2]:
print(ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [4]:
for p,i in enumerate(ascii_lowercase):    #p=position, i=Value
  print(i)
  if p==10:
    break

a
b
c
d
e
f
g
h
i
j
k

In [19]:
fruits = ['apple','banana','cherrry','date','eggplant']
prices = [100.00,40.00,120.00,200.00,25.00]
qty = [12,15,100,50,3]

In [20]:
for fr, pr, qt in zip(fruits,prices,qty):
  print(f'{fr} costs {pr} qty {qt}')

apple costs 100.0 qty 12
banana costs 40.0 qty 15
cherrry costs 120.0 qty 100
date costs 200.0 qty 50
eggplant costs 25.0 qty 3