For loop

In [2]:
x = "PYTHON"
for i in x:
  print(i)

P
Y
T
H
O
N

In [13]:
story = "Once"
for char in story:
  print(char,)

O
n
c
e

In [7]:
names = ['Alice', 'Charlie', 'Bob', 'Charlie', 'David', 'Eve', 'frank']
for name in names:
  print(name, len(name))

Alice 5
Charlie 7
Bob 3
Charlie 7
David 5
Eve 3
frank 5

In [14]:
fruits = ['apple', 'banana', 'lemon']
for item in fruits:
  print(f'i have {item}')

i have apple
i have banana
i have lemon

In [18]:
for i in range(10):
  print(' you got point', i)

 you got point 0
 you got point 1
 you got point 2
 you got point 3
 you got point 4
 you got point 5
 you got point 6
 you got point 7
 you got point 8
 you got point 9

In [19]:
for num in range(1,10,3):
  print('level',num)

level 1
level 4
level 7

In [22]:
for num in range(2,11):
  print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [23]:
#reverse loop

for num in range(10,5,-1):
  print(num)

10
9
8
7
6

In [25]:
#pattern loop

for i in range(10):
  print(i * 'Aman')

Aman
AmanAman
AmanAmanAman
AmanAmanAmanAman
AmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAmanAman
AmanAmanAmanAmanAmanAmanAmanAmanAman

#WAP to calculate the total of all numbers from 1 to 50

In [33]:
total = 0
for i in range(1,51):
  total += i
print(total)

1275

#wap to addd all numbers that are divisible by 3 ranging from 1  to 100

In [42]:
total = 0
for i in range(3,100,3):
    total += i
Print(total)

NameError: name 'Print' is not defined

In [37]:
total = 0
for i in range(3,100,3):
  total += i
print(total)

3366

#Wap to calculate the average(mean) of all numbers from 1 to 100

In [40]:
total = 0
for i in range(1,100):
  total += i
mean = total / 99
print(mean)

50.0